{{#if theHeaderAnchs}}
  {{#each theHeaderAnchs}}
    <a href="{{ this.href }}">{{ this.title }}</a>
  {{/each}}
{{/if}}
<div class="user-header">
  {{#if theUser}}
    <a href="/login?logout=1">Logout</a>
  {{else}}
    <a href="/login">Login</a>
  {{/if}}
</div>
<div class="user-header">
  {{#if theUser}}
    <p>Welcome [{{theUser.userName}}]</p>
  {{/if}}
</div>