html {
  height: 100%;
}

body {
  min-width: 380px;
  height: 100vh;
  overflow-y: hidden;
  margin: 0px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  /* background: url('/images/desktop-background.jpg') no-repeat;
  background-size: cover; */
}

header, footer, .nav-menu {
  background-color: slategray;
  color: white;
}

main {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  padding: 10px;
}

footer {
  flex: 0 0 auto;
  font-size: 10px;
  text-align: center;
  padding: 3px 20px;
}

input[type="submit"] {
  text-transform: capitalize;
  outline: 0;
  background-color: #036FAB;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: lightblue;
}

input[type='text'],
input[type='password'],
input[type='search'],
select,
textarea {
  outline: 1px dotted lightblue;
  background: #F2F2F2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  /* width: 100%; */
}

input:focus {
  outline: 3px solid Highlight;
}

input[type='search'] {
  padding: 5px;
  font-size: 15px;
  width: calc(100% - 27ch);
}

select {
  padding: 5px;
  font-size: 15px;
  width: 8ch;
}

.search-but {
  padding: 5px !important;
  font-size: 15px !important;
  width: 9ch !important;
}

.page-par {
  font-size: 20px;
}