/* Mostly from: http://www.dreamtemplate.com/dreamcodes/documentation/tables1.html */

table,table td {
  border: 1px solid #CCC;
  border-collapse: collapse;
}

table {
  border: none;
  border: 1px solid #CCC;
  width: 100%;
}

table thead th, table tbody th {
  background-color: #FFF;
  color: #666;
  border-left: 1px solid #CCC;
}

table thead th {
  padding: 5px 10px;
  background-color: darkgray;
}

table tbody th {
  background-color: #fafafb;
  border-top: 1px solid #CCC;
  text-align: left;
  font-weight: normal;
}

table tbody tr td {
  color: #666;
}

table tbody tr:hover {
  background-color: #FFF;
}

table tbody tr:hover td {
  color: #454545;
}

table a {
  text-decoration: none;
  display: block;
  padding: 10px 12px;
}

table a:link {
  color: #666;
  text-decoration: none;
}

table a:visited {
  color: #666;
}

table a:hover {
  color: #003366;
}

table a:active {
  color: #003366;
}
