<h1>Please fill these fields to create a new code snippet:</h1>
<form action="/snips/create" method="POST">
  <label>Code snippet title:<br><input type="text" name="snipTitle" required></label><br><br>
  <label>Tags for the code:<br><input type="text" name="snipTags"></label><br><br>
  <label>A note about the code:<br><textarea name="snipNote" rows="5"></textarea></label><br><br>
  <label>The code:<br><textarea name="snipCode" rows="10"></textarea></label><br><br>
  <input type="submit" value="Create Code Snippet">
</form>