<h1>Please fill these fields to create your account:</h1>
<form action="/user/create" method="POST">
  <label>User/Nick Name:<br><input type="text" name="userName" required></label><br><br>
  <label>Password:<br><input type="password" name="passwordHash" required></label><br><br>
  <label>First Name:<br><input type="text" name="firstName"></label><br><br>
  <label>Last Name:<br><input type="text" name="lastName"></label><br><br>
  <input type="submit">
</form>