<!doctype html>
<html lang="en">
  <head>
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>{{> header }}</header>
    <div class="messages">{{> messages }}</div>
    <main><br>
      {{{ body }}}
    </main>
    <footer>{{> footer }}</footer>
  </body>
</html>
