<h1>Welcome to Code Snippets.</h1>
<p class="page-par">You can login from the upper right corner, and navigate using the menu.</p>
<p class="page-par">After creating an account and logging-n, you can create your own code
  snippets using the 'Code Snippets' page from the menu.</p>