<form action="/login" method="POST">
  <label>User Name:<br><input type="text" name="username" required></label><br><br>
  <label>Password:<br><input type="password" name="password" required></label><br><br>
  <input type="submit" value="Login">
</form>
<p class="page-par">Not already a registered user? You can create an account by clicking <a href="/user/create">HERE</a>.</p>